.main__filter-color{
  display: flex;
  flex-direction: column;

  &--info{
    margin: 0;
    padding: 40px 0 15px 0;
    font-size: 18px;
  }

  &--items {
    display: flex;
    justify-content: space-around;

    &-grey {
      border-radius: 50%;
      background: rgb(200, 200, 200);
      height: 30px;
      width: 30px;
    }

    &-white {
      border-radius: 50%;
      background: rgb(0, 0, 0);
      height: 30px;
      width: 30px;
    }

    &-red {
      border-radius: 50%;
      background: rgb(254, 138, 138);
      height: 30px;
      width: 30px;
    }

    &-blue {
      border-radius: 50%;
      background: rgb(180, 230, 253);
      height: 30px;
      width: 30px;
    }

    &-green {
      border-radius: 50%;
      background: rgb(191, 253, 202);
      height: 30px;
      width: 30px;
    }
  }

}
