.section-discount{
  padding: 80px 0;
  background-color: rgb(245,245,245);

  &__form{
    display: flex;
    align-items: center;

    &--input{
      height: 40px;
      flex-basis: 70%;
      border: 2px solid rgb(238,238,238);
    }

    &--input::placeholder{
      padding: 0 0 0 20px;
      color: rgb(193, 193, 193);
    }

    &--btn{
      height: 40px;
      flex-basis: 30%;
      background: none;
      border: 2px solid black;
    }
  }

  &__info{
    font-style: italic;
    font-size: 40px;
  }
}