.main__filter-price{

  &--info{
    margin: 0;
    padding: 40px 0 15px 0;
    font-size: 18px;
  }

  &--filter{
    display: flex;
    justify-content: center;

    &-down{
      border-radius: 2px;
      width: 30%;
      border: 1px solid rgb(245, 245, 245);
      color: rgb(193, 193, 193);
    }

    &-up{
      border-radius: 2px;
      margin: 0 0 0 10px;
      width: 30%;
      border: 1px solid rgb(245, 245, 245);
      color: rgb(193, 193, 193);
    }

    &-btn{
      padding: 2px 0 0 0;
      border-radius: 2px;
      margin: 0 0 0 30px;
      width: 30%;
      border: 1px solid rgb(245, 245, 245);
      background: rgb(245, 245, 245);
    }
  }

  &--slider{
    height: 40px;

    &-style{

    }
  }
}

div .input-range__slider{
border: 2px solid #000;
background-color: #FFF;
width: 1.4rem;
height: 1.4rem;
margin-left: -.7rem;
margin-top: -.85rem;
}

div .input-range__label {
  display: none;
}

div .input-range__track--active {
  background-color: #000;
}

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.2rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}
